certifi==2020.12.5
chardet==4.0.0
greenlet==1.0.0
idna==2.10
importlib-metadata==3.9.0
injector==0.18.4
pkg-resources==0.0.0
psycopg2==2.9.1
PyQt5==5.12.2
#pycairo==1.20.0
PyGObject==3.40.0
requests==2.25.1
SQLAlchemy==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
