certifi==2020.12.5
chardet==4.0.0
greenlet==1.0.0
idna==2.10
importlib-metadata==3.9.0
injector==0.18.4
libtiff==0.4.2
numpy==1.21.4
psycopg2==2.9.1
pycairo==1.20.1
PyGObject==3.40.0
PyQt5==5.12.2
PyQt5-sip==12.9.0
requests==2.25.1
roman==4.1
SQLAlchemy==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
